<%# The Content Heading %>
<% if (title) { %>
<h1><%= title %> </h1>
<% } else {
    res.redirect('/')
} %>
<%- messages() %>
<form>
        <label for="account_email"> Email: </label>
        <input type="text" id="account_email" name="account_email">

        <label for="account_password"> Password: </label>
        <input type="text" id="account_password" name="account_password">

        <input type="submit" value="Login">

        <div class="sign-up"> 
            <a>No account? <a href="/account/register" >Sign-up</a></a> 
        </div>
        
    </form>