<main>
<h1>Welcome to CSE Motors!</h1>
<div class="hero-sec">
    <img src="/images/vehicles/delorean.jpg">
    <article>
        <h2>DMC Delorean</h2>
        <p>3 Cup holders</p>
        <p>Fuzzy dice!</p>
        <button>Own Today</button>
    </article>
</div>
<div id="main">
    <section class="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like travelling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80s livin and I love it!" (5/5)</li>
        </ul>
    </section>
    <section class="upgrades">
        <h2>Delorean Upgrades</h2>
        <div class="upgrade-opt">
            <figure>
                <img src="/images/upgrades/flux-cap.png">
                <figcaption>Flux Capacitor</figcaption>
            </figure>

            <figure>
                <img src="/images/upgrades/flame.jpg">
                <figcaption> Flame Decals</figcaption>
            </figure>

            <figure>
                <img src="/images/upgrades/bumper_sticker.jpg">
                <figcaption>Bumper Stickers</figcaption>
            </figure>

            <figure>
                <img src="/images/upgrades/hub-cap.jpg">
                <figcaption>Hub Caps</figcaption>
            </figure>
        </div>
    </section>
</div>

</main>
