/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*Header Styling*/
#top-header{
  display: flex;
  justify-content: space-between;
  font-family: "Roboto Condensed", sans-serif;
}

main{
  font-family: "Poppins", sans-serif;
}

.siteName a{
  color: #222222;
  font-size: 2.5rem;
  text-decoration: none;
}

#tools a{
  color: #222222;
  text-decoration: none;
}

/*Navigation Styling*/
nav{
  background-color: #222222 ;
  padding: 5px;
}

nav ul{
  display: flex;
  list-style-type : none;
  justify-content: space-evenly;
}

ul li a{
  color: #FFCCD5;
  font-size: large;
}

/*Hero styling*/
.hero-sec{
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}


.hero-sec article{
  position: absolute;
  top: 20px;
  background-color: rgba(255, 255, 255, 0.5) ;
  color: #590d22;
  padding: 5px ;
}

button{
  background-color: #590d22;
  color: white;
  padding: 5px;
}

/*Reviews Styling*/
.reviews ul li{
  margin: 10px;
  font-size: large;
}

/*Upgrades Styling*/
figure img{
  background-color: #c9184a;
  padding: 20px;
  border: 1px black solid;
}

.upgrade-opt{
  display: grid;
  grid-template-columns: auto auto;
}

/* Large Screen */
@media screen and (min-width : 1025px){
  body{
    max-width: 1085px;
    border: 5px #590d22 solid;
    padding: 10px;
    margin: 0 auto;
  }

  .hero-sec{
    text-align: center;
  }


  .hero-sec article{
    left: 250px;
  }

  #main{
    display: grid;
    grid-template-columns: auto auto;
  }

  .upgrades{
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .reviews ul li{
    padding: 15px;
  }

  .reviews{
    grid-column: 2/3;
  }

  /* Classification */
  #inv-display{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

   #inv-display img{
    width: 100%;
   }

  #inv-display li{
    border: 2px solid #c9184a;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
  }

  .hide{
    display: none;
  }

  /*Inventory item*/
  #invItem-display{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  


  
}

/* Classification Styling */
li{
  list-style-type : none;
}

#inv-display li a{
  color: black;
}

/* Form Styling */
form {
  margin: 1rem 2%;
  background-color: #3D405B;
  padding: 20px;
  border-radius: 5px;
  color: white;
  width: fit-content;
  height: auto;
  text-align: center;
}

label {
  display: block;
  font-size: .8rem;
  padding-top: .2rem;
  text-align: start;
}

input[type=text],
input[type=email],
input[type=password]
{
  display: block;
  margin: .1rem 0 1rem 0;
  padding: .3rem;
  border: 1px solid #999;
  border-radius: 4px;
  border-left-width: 5px;
  border-left-color: #555;
  font-size: 1rem;
  color: #3D405B;
  width: 300px;
}

input:required:valid {
  border-left-color: green;
}

input:required:invalid, input:focus:invalid {
  border-left-color: #d70000;
}


input[type=submit] {
  border: none;
  background-color: white ;
  color:#3D405B;
  border-radius: 1rem;
  padding: 10px;
  font-size: 1rem;
}

.sign-up{
  text-align: center;
  color: white;
}